* {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(152, 251, 152, 0.709);
    border-radius: 10px;
}

body {
    background-color: rgb(127, 70, 64);
}

.bg-img {
    height: 100%;
    background-image: url("Images/Front_page_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    font-style: italic;
    color: yellow;
    font-size: 45px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 600px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 20px;
    font-style: italic;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

ul li a:hover {
    background-color: yellow;
    color: rgb(241, 35, 63);
    font-size: 25px;
    border-radius: 10px;
    display: block;
    padding: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: 400PX;
    margin: auto;
    color: palegreen;
    position: relative;
    font-style: italic;

}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-style: italic;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: yellow;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
    font-style: italic;
}

.cn:hover {
    background-color: palegreen;
}

.content span {
    color: yellow;
    font-size: 65px
}

.srch {
    background-color: rgb(1, 114, 134);
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}


/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.About-Us {
    display: flex;
}

.image-Au {
    width: 100%;
}

.text-Au {
    width: 35%;
}

.image-container-Au {

    padding: 5px;
    width: 35%;
}

.content-Au {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}